html {
  scroll-behavior: smooth;
}

body {
  max-width: 320px;
  margin: auto;
  font-family: 'Open Sans', sans-serif;
  background-color: black;
  padding: 18px 0 21px;
}

header{
  border: 2px solid #ffff;
  padding: 31px 29px 36px;
  background-image: url(../img/background-img.jpg);
}

footer{
  border: 2px solid #2bffaa;
  text-align:center;
  font-size: 13px;
  color: white;
}

figure{
  font-size: 9px;
  margin: 0;
  box-shadow: 18px 15px 15px -3px rgba(0,0,0,0.1);
}

figcaption{
  padding: 12px 0 10px 8px;
}

article{
  background-color: white;
  padding: 16px 29px 36px;
  margin: 0 0 20px;
}

h1{
  font-size: 26px;
  color: white;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 20px;
}

div{
  background-color: #2afca6;
  padding: 15px 29px 36px;
  font-size: 17px;
  margin: 20px 0;
}

p{
  font-size: 16px;
}

a{
  background-color: #444444;
  padding: 6px 20px;
  font-size: 9px;
  color: white;
  text-decoration: none;
  margin-top: 30px;
}

img{
  width: 100%;
  box-sizing: border-box;
}

.intro{
  font-family: 'Open Sans', sans-serif;
} 

.legend{
  color: #a9a9a9;
  font-size: 12px;
}

.date{
  color: #090909;
}

.author{
  color: #18fca8;
} 

header p{
  font-size: 16px;
  color: #9c9c9c
}

header em{
  color: #2dffc3;
}

article h1{
  font-size: 16px;
  color: black;
}

article p{
  font-size: 16px;
  color: #252525;
}

p strong{
  color: #0b5a40;
  margin-bottom: 20px;
}

div p strong{
  color: #064130;
  font-family: 'Montserrat', sans-serif;
}