/*
  font-family: 'Montserrat', sans-serif; 100it/800
  font-family: 'Open Sans', sans-serif; 400/400it/700/700it
*/

html {
  scroll-behavior: smooth;
}

body {
  max-width: 320px;
  margin: auto;
  margin-right: 26px;
  margin-left: 26px;
  background-color: black;
}
img{
  width: 100%;
}

header{
  border: 2px solid #ffff;
  margin: 18px 0 18px;
  padding: 55px 30px 55px;
  background-image: url(../img/background-img.jpg);
}

header p{
  font-size: 15px;
  color: #9c9c9c
}
header em{
  color: #2dffc3;
}
h1{
  font-size: 26px;
  color: white;
  font-family: 'Montserrat', sans-serif;
}
p{
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
}

div{
  background-color: #2afca6;
  padding: 30px 29px 50px;
}
p strong{
  color: #0b5a40;
}
div p{
  color: #064130;
}

article h1{
  font-size: 16px;
  color: black;
}
article{
  background-color: white;
  padding: 30px 28px;
  margin: 20px 0;
}

p.legend{
  color: #a9a9a9;
  font-size: 12px;
}

span.date{
  color: #090909;
}
Span.autor{
  color: #18fca8;
} 
article p{
  font-size: 14px;
  color: #252525;
}

footer{
  border: 2px solid #2bffaa;
  text-align:center;
  padding: 17px 0;
  font-size: 13px;
  color: white;
}
a{
  background-color: #444444;
  padding: 6px 20px;
  font-size: 9px;
  color: white;
  font-family: 'Open Sans', sans-serif;
  text-decoration: none;
}

figure{
  box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
  font-family: 'Open Sans', sans-serif;
  font-size: 9px;
}
figcaption{
  padding: 12px 0 10px 8px;
}
